.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.map {margin:20px auto;position:relative;width:500px;height:600px;background:url(./img/bg.png)}
.snake-node {width:15px;height:15px;position:absolute;background:#333}
#food {width:15px;height:15px;position:absolute;background: green;border-radius: 100px;}